body {
    background-color: #2f3640;
    color: #f5f6fa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.game-container {
    background-color: #353b48;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.title {
    color: #f5f6fa;
    margin-bottom: 2rem;
}

.tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 2rem;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #718093;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #a4b0be;
}

.reset-button {
    color: #353b48;
    background-color: #f5f6fa;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #dcdde1;
}
