body {
    background-color: #2f3640;
    color: #f5f6fa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

input[type="text"] {
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

#start-button, #reset-button {
    color: #000102;
    background-color: #1fd4ec;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

#start-button:hover, #reset-button:hover {
    background-color: #dcdde1;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 310px;
    justify-content: center;
    align-items: center;
    background: #dddfe2;
    margin-top: 30px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;    
    transition: background-color 0.3s ease;
    background-color: #2f3640;
}

.cell.winning-cell {
    background-color: green;
}

#winning-message {
    color: #f5f6fa;
    font-size: 2em;
    text-align: center;
    margin: 5px;
    padding: 5px;
    min-height: 2.5em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #353b48;
    color: white;
    text-align: center;
    padding: 10px 0;
}
